@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: /*'Monoton'*/"Shojumaru";
  color: white;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height : 100vh;
  width: 100vw;
  background-color: black;
}

#user-interface {
  max-width: 100%;
  background-color: rgb(48, 47, 48);
  border-radius: 2%;
  padding: 10%;
  box-shadow: 0 0 10px 2px;
}

#start-quiz-button {
  border: 1% solid white;
  background-color: black;
  color: white;
  border-radius: 10%;
  display: block;
  width: 100%;
}

#start-quiz-button:hover {
  transform: scale(1.5); 
}


.info_box.activeInfo{
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.info_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    color: aqua;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.info_box .info-title{
    height: 60px;
    width: 100%;
    border: 1px solid red;
    /* border-bottom: 1px solid lightgrey; */
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-title span{
  color: black;
}
.info_box .info-list{
    padding: 15px 30px;
}
.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
    color: aqua;
}
.info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}
.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 120px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

#answers-list {
  display: grid;
  gap: 10%;
  margin: 10%;
  padding: 10%;
}

.answerBtn {
  display: block;
  width: 100%;
  border: 1% solid white;
  background-color: black;
  border-radius: 10%;;
}

.answerBtn:hover {
  transform: scale(1.5); 
}

#next-question-button {
  display: block;
  width: 100%;
  border: 1% solid white;
  background-color: black;
  border-radius: 10%;
  color: white;
  visibility: hidden;
}
#next-question-button:hover {
  transform: scale(1.5); 
}